.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1,1.1) ;
  z-index: 300;
  position: relative;
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 

}

.child { 
  width:100%; 
}
.slide:not(.slick-active) { 
  cursor: pointer; 
}

.slick-slider:hover .slick-arrow{
  display: flex!important;
}
.slick-arrow{
  display: none!important;
}
.slick-slider {
  /* overflow: hidden; */
  margin-bottom: 20px;
}

.slick-list {
  margin: 0 0px !important;
}

.slick-slide > div {
  padding: 0 7px !important;
}


/* .dots_mobile li button{
    width: 30px;
}
.dots_mobile li button::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: 
    #00A1ED!important;
    background-color: #00A1ED;
} */

.img-rounded > :nth-child(1) {
  border-radius: 10px !important;
}